.video-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding-top: 100px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .video-iframe {
        width: 600px; /* Adjust as needed */
        height: 450px; /* Adjust as needed */
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .video-iframe {
        width: 800px; /* Adjust as needed */
        height: 600px; /* Adjust as needed */
    }
}
@media (max-width: 250px) {
    .video-iframe {
        display: none;
    }
}

