.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    transition: background-color 0.3s ease-in-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.navbar-logo, .menu-burger {
    color: #000; /* Or any color you prefer */
}


/* Other styles remain the same */


/* .navbar.scrolled {
    background-color: rgb(131, 34, 125); 
} */

/* .navbar-logo,
.menu-burger {
    opacity: 1;
} */

.navbar-content {
    width: 100%; /* Make sure this is set to 100% */
    display: flex;
    justify-content: space-around; /* Adjust as necessary */
}

.navbar-logo {
    font-size: 20px; /* Adjust size as needed */
    color: #ffffff; /* Adjust color as needed */
    padding: 15px 0 20px 0;
    
}
.navbar-logo img {
    height: auto; /* Maintain aspect ratio */
    width: 100px; /* Example size - adjust as necessary */
    max-height: 100%; /* Ensure it doesn't exceed the navbar height */
}

.menu-burger {
    font-size: 20px; /* Adjust size as needed */
    color: #ffffff; /* Adjust color as needed */
    cursor: pointer;
    padding: 15px 0 20px 0;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* .fade-in {
    animation: fadeIn 1s ease-in-out forwards; 
} */

/* .fade-in {
    opacity: 1 !important;
    transition: opacity 1.5s ease-in-out !important;
} */
