.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    transition: background-color 0.1s ease-in-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1500;
}

.navbar-logo, .menu-burger {
    color: #000; 
}


.navbar-content {
    width: 100%; 
    display: flex;
    justify-content: space-around; 
}

.navbar-logo {
    font-size: 20px; 
    color: #ffffff; 
    padding: 20px 0 20px 0;
    
}
.navbar-logo img {
    height: auto; 
    width: 100px; 
    max-height: 100%; 
}

.menu-burger {
    font-size: 20px; 
    color: #ffffff; 
    cursor: pointer;
    cursor: pointer;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s ease; 
}

.menu-burger:hover {
    background-color: #f0f0f0; 
    color: #333; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.menu-container {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 100%; 
    background-color: white;
    box-shadow: 1px -1px 5px rgba(240, 240, 240, 0.2);
    border-radius: 3px;
    padding: 0;
    width: max-content; 
    margin-top: -15px;
}


.dropdown-menu a {
    display: block;
    padding: 15px 30px 15px 15px;
    border-radius: 2px;
    transition: background-color 0.3s ease, color 0.3s ease; 
    text-align: left;
    text-decoration: none;
    font-weight: 400;
    color: #000;
}

.dropdown-menu a:hover {
    background-color: rgb(7, 13, 22);
    color: rgb(253, 253, 253); 
}
