.photo-form{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.photo-form form{
    display: flex;
}

.photo-form img{
    max-width: 45px;
}
