/* Portfolio.css */

.portfolio {
    padding: 20px;
}

.videos-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns for desktop */
    gap: 20px; /* Space between items */
}

.video-item {
    position: relative;
    overflow: hidden;
    opacity: 0;
}

.fadeInLeft {
    animation: fadeInLeft 0.7s forwards;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.video-item img {
    width: 100%;
    display: block;
    object-fit: cover; 
    height: 300px; 
    transition: transform 0.3s ease;
    transform-origin: center;
}

.video-item:hover img {
    transform: scale(1.008); /* Enlarge the image slightly on hover */
}

.video-info {
    bottom: 0;
    left: 0;
    color: white;
    width: 100%;
}

/* Mobile responsiveness */
@media (max-width: 767px) {
    .videos-grid {
        grid-template-columns: 1fr; /* 1 column for mobile */
    }
    .video-item img{
        width: 100%;
        height: 200px; 
    }
}

/* Adjustments for larger screens if necessary */
@media (min-width: 768px) and (max-width: 1024px) {
/* Adjust grid or item styles for tablets */
}

@media (min-width: 1024px) {
/* Adjust grid or item styles for larger desktops */
}
