.photo-grid {
    column-gap: 10px; /* Sets the gap between columns */
    padding: 0px; /* Adjust the padding as needed */
    margin: -5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    z-index: 5;
    height: 100vh;
}

.photo-column {
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
    animation-fill-mode: forwards;
    will-change: transform;
    flex: 0 0 auto; 
    width: calc((100% / 6) - 10px); /* Adjust '6' to change the number of columns */
    height: 100%;
    overflow: hidden;
}

.photo-item {
    break-inside: avoid-column;
    margin-bottom: 10px; /* Gap between items within the same column */
}

.photo-item img {
    width: 100%; /* Ensures the image fills the column */
    height: auto;
    display: block;
    object-fit: cover;
}

@media (max-width: 768px) {
    .photo-column {
        width: calc((100% / 3) - 10px); /* Adjust '3' for the number of columns on smaller screens */
    }
}

/* Class to trigger the fade-in */
.fade-in {
    opacity: 1 !important;
    transition: opacity 1.5s ease-in-out !important;
}

@keyframes initialMoveUp {
    0% { transform: translateY(-50px); }
    100% { transform: translateY(0px); } 
}

@keyframes initialMoveDown {
    0% { transform: translateY(-100px); }
    100% { transform: translateY(0px); } 
}

.initialMoveUp {
    animation-name: initialMoveUp;
}

.initialMoveDown {
    animation-name: initialMoveDown;
}


/* Container for the header and button */
.header-container {
    /* ... other styles ... */
    position: absolute;
    top: 50%;  
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0; /* Start with header invisible */
    transition: opacity 1.5s ease-in-out;
    z-index: 500; /* Higher than anything else within the photo-grid */
}


/* Styling for the header */
.header-title {
    font-size: 3em; /* Adjust the size as you like */
    color: #fff; /* Adjust the text color as needed */
    margin-bottom: 0.5em; /* Space between the header and button */
}

@media (max-width: 450px) {
    .header-container{
        top: 30%;
    }
}


/* Styling for the button */
.learn-more-btn {
    display: inline-block; /* Allows margin and padding to be applied */
    padding: 10px 20px; /* Adjust the padding as needed */
    background-color: #000; /* Button background color */
    color: #fff; /* Button text color */
    text-decoration: none; /* Remove underline from links */
    font-weight: bold; /* Make the text bold */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth background color transition */
}


/* Hover effect for the button */
.learn-more-btn:hover {
    background-color: #555; /* Darken button on hover */
}

